@font-face {
  font-family: 'Adieu';
  src: url('/fonts/Adieu-Regular.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NHGDP';
  src: url('/fonts/NHG.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #ffffff;
  --font-sans: 'NHGDP', sans-serif;
  --font-serif: 'Adieu', serif;
  --font-heading: 'Adieu', sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-work-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ffffff;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "NHGDP", sans-serif;
}

body {
  color: white;
  background: black;
  font-family: "NHGDP", sans-serif;
}

.font-serif {
    font-family: var(--font-serif);
}

.font-sans {
    font-family: var(--font-sans);
}

.font-heading {
    font-family: var(--font-heading);
    font-weight: 100;
}

a {
  color: inherit;
}
